body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-size: auto, cover;
	background-image: linear-gradient(#FC005C, #d13531);
}

header{
	background: #eb01a5;
  	background-image: url("https://bit.ly/32Dv3IC"), linear-gradient(#eb01a5, #d13531);
	background-size: auto, cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-position: center;
	max-width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Knewave', cursive;
}

header h1{
	color: white;
	font-size: 70px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 2px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: white;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #230939;
	margin: 40px 0 10px;
}

a{
	color: white;
}
a:hover{
	color: white;
	background-color: #230939;
}

footer{
	background-color: #230939;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #FAAFAF;
	font-style: italic;
	margin-top: 0;
}

